@import "bootstrap.min.css";

@px: 0.0625rem;

body {
  padding: 40*@px;
  font: 5rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

.none {
  display: none !important;
}

.room {
  text-align: center;

  .btn-create {
    margin-left: 40*@px;
  }
  .result-create {
    color: #761c19;
  }
}

.seats {
  .room-title {
    font-size: 7rem;
    text-align: center;
    color: #1b6d85;
  }
  .btn-seat {
    display: inline-block;
    margin-right: 5rem;
    margin-top: 5rem;
    font-size: 14rem;
  }
}

.btn {
  font-size: 7rem;
}

.function {
  padding-top: 5rem;
}
